<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>


<h1>Delete Users</h1>

<form  th:action="@{/users/delete}" method="post" th:object="${users}" class="px-4">

    <th:block th:each="user : ${users}">
        <div class="form-group">
            <label>
                <span th:text="${user.username}"></span>
                <input type="checkbox" name="userUsernames" th:value="${user.username}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">

</form>


<div th:replace="~{fragments :: footer}"></div>
</body>
</html>