<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>


<h1>Update Pets</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Pet Name</th>
    </tr>
    </thead>
    <tr th:each="pet : ${pets}">
        <td><a th:href="'/pets/update-details?name=' + ${pet.name}" th:text="${pet.name}"></a> </td>
    </tr>
</table>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>