<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title th:text="${title}">Title</title>
</head>

<div class="header" th:fragment="header">
    <p><a href="/login"><span sec:authorize="!isAuthenticated()">Login</span></a>
        <a href="/register"><span sec:authorize="!isAuthenticated()">Register</span></a>
        <a class="header" href="/logout"><span sec:authorize="isAuthenticated()">Logout</span></a>
        <a class="header" href="/"><span sec:authorize="isAuthenticated()">Home</span></a>
        <a class="header" href="/user"><span sec:authorize="isAuthenticated() and hasAuthority('USER')">User</span></a>
        <a class="header" href="/users"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Get Users</span></a>
        <a class="header" href="/users/create"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Create User</span></a>
        <a class="header" href="/users/delete"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Delete Users</span></a>
        <a class="header" href="/users/update"><span sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">Update User</span></a>
        <a class="header" href="/pets"><span sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('PET_FOSTER'))">Get Pets</span></a>
        <a class="header" href="/pets/create"><span sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('PET_FOSTER'))">Create Pet</span></a>
        <a class="header" href="/pets/delete"><span sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('PET_FOSTER'))">Delete Pet</span></a>
        <a class="header" href="/pets/update"><span sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('PET_FOSTER'))">Update Pets</span></a>
        <a class="header" href="/roles"><span sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('PET_FOSTER'))">Roles</span></a></p>
        <a class="header" href="/petTypes"><span sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('PET_FOSTER'))">Pet Types</span></a></p>
    <p></p>
</div>

<div th:fragment="roles_table">
    <table>
        <tr>
            <th>Authority</th>
        </tr>
        <tr th:each="role : ${roles}">
            <td th:text="${role.role}"></td>
        </tr>
    </table>
</div>

<div th:fragment="pet_types_table">
    <table>
        <tr>
            <th>Pet Types</th>
        </tr>
        <tr th:each="petType : ${petTypes}">
            <td th:text="${petType.name}"></td>
        </tr>
    </table>
</div>

<div th:fragment="users_table">
    <table>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail address</th>
            <th>Roles</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.emailAddress}"></td>
            <td th:if="${user.roles != null}">
                <span th:each="role : ${user.roles}" th:if="${roleStat.first}" th:text="${role.role}"></span>
            </td>
            <td th:unless="${user.roles != null}">N/A</td>

        </tr>
    </table>
</div>


<div th:fragment="pets_table">
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Pet Type</th>
        </tr>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.age}"></td>
            <td th:text="${pet.weight}"></td>
            <td th:if="${pet.petType != null}" th:text="${pet.petType.name}"></td>
            <td th:unless="${pet.petType != null}">N/A</td>
        </tr>
    </table>
</div>


<div th:fragment="footer">
    <div class="footer"><p class="footer">Inginerie Software 2024</p></div>
</div>
</html>